@using System.Reflection
@inject Modular.AspNetCore.Configuration.BlazorUIAssemblyService AssemblyService
  <Router AppAssembly="@thisAssembly" AdditionalAssemblies="@additionalAssemblies">
  <Found Context="routeData">
    <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
  </Found>
  <NotFound>
    <LayoutView Layout="@typeof(MainLayout)">
      <p>Sorry, there's nothing at this address.</p>
    </LayoutView>
  </NotFound>
</Router>
@code {
  private Assembly thisAssembly => typeof(App).Assembly;

  private IEnumerable<Assembly> additionalAssemblies => AssemblyService.Assemblies.Except(new Assembly[] { thisAssembly });
}